version: "3.8"

networks:
  main:
  logs:
    external: true

volumes:
  postgres_data:
    name: hiraishin_postgres_data

services:
  backend:
    build: ./backend/.
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "127.0.0.1:3001:3001"
    environment:
      - ASPNETCORE_URLS=http://+:3001
      - Database__Database=hiraishin
      - Database__Host=postgres
      - Database__Port=5432
      - Database__Username=postgres
      - Database__Password=postgres
      - RiotGamesApi__ApiKey=
    volumes:
      - ./logs/backend:/app/logs
    networks:
      - main
      - logs
    restart: unless-stopped
    pull_policy: build

  frontend:
    build: ./frontend/.
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - ./logs/frontend:/app/logs
    networks:
      - main
    restart: unless-stopped
    pull_policy: build

  postgres:
    image: postgres:16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=hiraishin
      - PGDATA=/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - main
    restart: unless-stopped
